---
import BaseLayout from "../../layouts/BaseLayout.astro";

const allPosts = await Astro.glob('../guides/*.md');

const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "标签列表";
---
<BaseLayout pageTitle={pageTitle}>
<div class="tag-list">
    {tags.map((tag:string) => {
      // 对标签名进行URL编码，确保特殊字符（如斜杠/）不会被解释为路径分隔符
      const encodedTag = encodeURIComponent(tag);
      return <p><a href={`/tags/${encodedTag}`}>{tag}</a></p>;
    })}
</div>
</BaseLayout>
<style>
a{
    color: aqua;
}
.tag-list{
    display: flex;
    flex-wrap: wrap;
}
.tag-list{
    margin: 2.5em;
    border: dotted 1px pink;
    border-radius: .5em;
    padding: .5em  1em;
    font-size: 1.15em;
    background-color: rgba(255, 192, 203, 0.2);
}
</style>