---
import Navigation from '../components/Navigation.astro';
import Headers from '../components/Header.astro';
import Hamburger from '../components/Hamburger.astro';
---

<html lang="zh-CN">
  <head>
    <meta charset ="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>111</title>
  </head>

  </style>
  <body>
    
    <Hamburger />
    <Headers />
	 <script>
   import "../scripts/menu.js";
 </script>
</body>
</html>