---
import BaseLayout from '../layouts/BaseLayout.astro';
import PageComponents from '../VueComponents/PageComponents.vue';
import Pag from '../ReactComponents/Pag'
const pageTitle = "首页";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>我超棒的博客副标题</h2>
<a href="/posts/p1">1111</a>

<PageComponents />
<Pag />

</BaseLayout>
